<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lozdolls FontDEMO:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="landing-page">
      <div class="inforamation">
        <form action="/upload_video" method="post" enctype="multipart/form-data">
          <input type="file" name="video_file"><br><br>
          <input type="submit" value="Upload">
       </form>
       <div>{{b}}</div>
        <div class="attendees-csv">
          <img
            class="whatsapp-image-2023-06-16-at-2"
            alt=""
            src="./public/whatsapp-image-20230616-at-2319-1@2x.png"
          />

          <div class="attendees-csv-inner">
            <div class="line-parent">
              <div class="frame-child"></div>
              <div class="frame-child"></div>
              <div class="frame-child"></div>
            </div>
          </div>
        </div>
        <div class="photos-of-attendees">
          <div class="manoj-removebg-preview-2-2-parent">
            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />
          </div>
          <div class="manoj-removebg-preview-2-2-group">
            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />
          </div>
          <div class="manoj-removebg-preview-2-2-container">
            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />

            <img
              class="manoj-removebg-preview-2-2"
              alt=""
              src="./public/manojremovebgpreview-2-2@2x.png"
            />
          </div>
          <div class="photos-of-attendees-inner">
            <div class="line-parent">
              <div class="frame-child"></div>
              <div class="frame-child"></div>
              <div class="frame-child"></div>
            </div>
          </div>
        </div>
        <div class="datepicker">
          <div class="div">17 / 06 / 2023</div>
          <img class="uilcalender-icon" alt="" src="./public/uilcalender.svg" />
        </div>
        <div class="attendance-of">Attendance of</div>
      </div>
      <div class="footer">
        <div class="frame-parent">
          <div class="flat-no-402-vinayagar-heigh-parent">
            <div class="flat-no-container">
              <span class="flat-no-container1">
                <p class="flat-no">
                  Flat no : 402, vinayagar heights, Waltair Uplands,
                </p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">Visakhapatnam, Andhra Pradesh</p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">
                  <b class="pin">Pin:</b>
                  <span> 530003</span>
                </p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">India</p>
              </span>
            </div>
            <img class="icon" alt="" src="./public/icon.svg" />
          </div>
          <div class="frame-group">
            <div class="email-parent">
              <div class="email">
                <a
                  class="email1"
                  href="mailto:info@cloudkarya.com"
                  target="_blank"
                  >info@cloudkarya.com</a
                >
              </div>
              <img class="icon" alt="" src="./public/icon1.svg" />
            </div>
            <div class="icon-parent">
              <img class="icon" alt="" src="./public/icon2.svg" />

              <div class="phone-number">
                <div class="div1">
                  <a class="a" href="tel:+14084217409" target="_blank">
                    <span class="span">+1.408.421.7409</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="social-icons">
              <img class="icon3" alt="" src="./public/icon3.svg" />

              <img class="icon3" alt="" src="./public/icon4.svg" />

              <img class="icon3" alt="" src="./public/icon5.svg" />
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="powered-by-parent">
              <div class="powered-by">Powered by</div>
              <b class="empatt">Empatt</b>
            </div>
          </div>
        </div>
        <b class="cloudkarya">CloudKarya</b>
      </div>
      <div class="hero-section">
        <div class="navbar">
          <div class="cloudkarya1">
            <span>Cloud</span>
            <span class="karya">Karya</span>
          </div>
          <img
            class="account-circle-icon"
            alt=""
            src="./public/account-circle.svg"
          />
        </div>
        <div class="curosel-here-wrapper">
          <div class="curosel-here"># curosel here</div>
        </div>
      </div>
    </div>
  </body>
</html>
